@CHARSET "UTF-8";
body
{
	margin: 0;
	width: 100%;
	padding: 0;
	font-size: 14px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
.msg-status
{
	border-radius: 5px;
	color: #333;
	padding: 2px;
}
.smallText
{
	font-size: 12px;
}
/* room */
.room-overview-container
{
	display: inline-block;
	padding: 10px;
	width: 100px;
	height: 100px;
	border: 5px solid #555;
	margin: 5px;
}
.room-overview-container a
{
	width: 100%;
	height: 100%;
	display: inline-block;
}
/* room end */
.room-container
{
	width: auto;
	display: inline-block;
}
#menu
{
	
	height: 50px;
	width: 100%;
	border-bottom: 4px #555 solid;
	background-image: url(/img/timeline-bg.png);
}
#menu ul
{
	display: inline-block;
	list-style: none;
	height: 50px;
	padding: 0;
	margin: 0;
}
#menu ul li
{
	height: 50px;
	display: inline-block;
	
}
label
{
	display: block;
}
#menu ul li a
{
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	text-align: center;
	height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: auto;
	text-decoration: none;
	color: #333;
	line-height: 40px;
	display: inline-block;
	margin-left: 20px;
}
.new-msg-field
{
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	border: 2px solid #EEE;
	padding: 10px;
}
#recv-container
{
}
.recv-item
{
	padding: 5px;
	display: inline-block;
	background: #eee;
	margin: 5px;
	color: #333;
	text-decoration: none;
}
.msg-selected
{
	font-weight: bold;
}
.recv-item:hover
{
	background: #333;
	color: #eee;
}
#menu ul li a:hover
{
	background: #CCC;
	color: #333;
}
#history
{
	display: inline-block;
	vertical-align: top;
}
.hovering
{
	background: #333;
	color: #FFF;
}
.second-hovering
{
	background: #666;
	color: #FFF;
}
#content
{
	width: auto;
	padding: 10px;
}
.contact
{
	display:table-row;
	width: inherit;
	
}
#search
{
	display: inline-block;
	float: right;
	height: 40px;
	line-height: 40px;
	padding: 5px;
	margin-right: 20px;
}
#search-field
{
	margin-left: 20px;
}
.header
{
	text-align: center;
	background: #555;
	display: table-cell;
	padding: 10px;
	color: #FFF;
}
.header-row
{
	display: table-row;
}
.row
{
	display: table-row;
}
.clickable
{
	cursor: pointer;
}
.table-container
{
	width: auto;
	vertical-align: top;
}
/* ROLE TYPE */
.Usk-op
{
	border-right: 10px solid #99FF66;
}
.Ssk-op
{
	border-right: 10px solid #6699FF;
}
.Ssk-ane
{
	border-right:10px solid #9966FF;
}
/* ROLE END */

/* timeline-start */
.last-element
{
	background-image: url(/img/timeline-bg.png);
	border-left: 2px solid #999;
}

#timeline-mini-button
{
	display: block;
	text-decoration: none;
	color: #FFF;
	background-color: #555;
	width: 30px;
	text-align: center;
	height: 20px;
	position: absolute;
	right: 0;
}
#timeline-container
{
	display: block;
	width: inherit;
}
.timeline-table
{
	display: table;
	height: 100%;
	width: 100%;
}
.timeline-row
{
	display: table-row;
	height: 100%;
	width: 100%;
}
.timeline-cell a
{
	cursor: pointer;
	text-align: center;
	padding-top: 5px;
	display: inline-block;
	height: 100%;
	width: 100%;
	color: #333;
	text-decoration: none;
	font-size: 10px;
	background-image: url(/img/timeline-bg.png);
}
.timeline-cell a:hover
{
	cursor: pointer;
	background-color: #EEE;
}
.timeline-cell
{
	vertical-align: top;
	overflow: none;
	display: table-cell;
	
	height: 100%;
}
.operation-timeline
{
	height: 53px;
	background-repeat: repeat-x;
	background: #b4b4b4;
	background: #CCC;
	border-bottom: 4px #555 solid;
}
/* timeline end */
#create-message-container
{
	margin: 5px;
	width: inherit;
	background: #CCC;
	padding: 10px;
	border: 5px solid #333;
	position: relative;
}
#create-message-container label
{
	font-size: 12px;
	color: #333;
	margin-bottom: 5px;
	font-weight: bold;
}
#new-msg-submit
{
	font-size: 20px;
}
h3
{
	margin-top:0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 10px;
	padding: 0;
	display: inline-block;
	
}
.window-button
{
	padding: 5px;
	color: #FFF;
	display: inline-block;
	width: 15px;
	height: 15px;
	float: right;
	line-height: 15px;
	text-align: center;
	margin-left: 10px;
	background: #555;
	text-decoration: none;
}
.window-button:hover
{
	background: #FFF;
	color: #000;
}
h1
{
	margin: 0;
	padding: 0;
}
#msg-sending-info
{
	display: none;
	background: white;
	padding: 20px;
}
td.cell.delete a
{
	display: block;
	width: 32px;
	height: 32px;
	text-decoration:none;
	background-image: url(../img/cancel.png);
	
}
label.error { float: none; color: red; vertical-align: top; }
#history-update
{
	font-size: 10px;
	margin-left: 20px;
	font-style: italic;
	
}
h2
{
	display: inline-block;
}
.table
{
	display: table;
	width: 100%;
	background: #CCC;
	border-spacing: 0px;
}
.cell
{
	text-align: center;
	padding: 5px;
	display: table-cell;
	border-bottom: 5px solid #EEE;
	
}